<section id="main-section" class="image" ><img  src="../../../assets/img/pexels-photo-1005058.jpeg" alt="bg-image">
  <div class="container go-register">
    <!-- Login Form Starts -->
    <div class="form__container form__container-login">
      <form action="" class="form" [formGroup]="loginForm" (ngSubmit)="login()">
        <h3 class="form__heading"> Sign In</h3>

        <p class="form__text">or use your account</p>
        <input formControlName="email" type="email" placeholder="email" class="form__field">
        <input formControlName="password" type="password"  placeholder="password" class="form__field">

        <button [disabled]="loginForm.invalid" type="submit" class="btn btn--main {{loginForm.invalid? 'invalid':''}}">Sign In</button>
      </form>
    </div>
    <!-- Login Form Ends -->
    <!-- Register Form Starts -->
    <div class="form__container form__container-register">
      <form action="" class="form">
        <h3 class="form__heading"> Create Account</h3>

        <p class="form__text">or use your email for registration</p>
        <input type="text" placeholder="name" class="form__field">
        <input type="email" placeholder="email" class="form__field">
        <input type="password" placeholder="password" class="form__field">
        <button type="submit" class="btn btn--main">Sign Up</button>
      </form>
    </div>
    <!-- Register Form Ends -->
    <!-- Overlay container Starts -->
    <div class="overlay-container">
      <!-- Right Overlay Starts -->
      <div class="overlay overlay--right">
        <h3 class="overlay__heading">Hello Friend</h3>
        <p class="overlay__desc">Enter your personal details and start journey with us</p>
        <button type="button" id="go-register" class="btn btn--main-outline">Sign Up</button>
      </div>
      <!-- Right Overlay Ends -->
      <!-- Left Overlay Starts -->
      <div class="overlay overlay--left">
        <h3 class="overlay__heading">Welcome Back!</h3>
        <p class="overlay__desc">Keep connected with us please login with your personal info</p>
        <button type="button" id="go-login" class="btn btn--main-outline">Sign In</button>
      </div>
      <!-- Left Overlay Ends -->
    </div>
    <!-- Overlay Container Ends -->
  </div>

</section>



